extends layout

block head
  script(src='/page-control-outputs.js')

block content
  .container.main.page-control-outputs
    include ./_nav

    .row
      .col-sm-12
        p Control your predefined digital and analog outputs. If you're not seeing any available outputs, please visit <a href="/core/#{core.coreId}/">Core Details page</a> to begin adding some.
    .row
      .col-sm-6
        h3 Digital Outputs
        ul.list-group#digital-outputs
          - for(var key in core.pins)
            - if(key.indexOf('D') != -1 && core.pins[key] == 'output')
              +digitalPin(key)
      .col-sm-6
        h3 Analog Outputs
        ul.list-group#analog-outputs
          - for(var key in core.pins)
            - if(key.indexOf('A') != -1 && core.pins[key] == 'output')
              +analogPin(key)


mixin digitalPin(pinId)
  li.list-group-item
    span
      strong= pinId
    .btn-group
      button.btn.btn-default.digital-pin(type='button', data-pinId="#{pinId}", data-pinVal="1") On
      button.btn.btn-default.digital-pin(type='button', data-pinId="#{pinId}", data-pinVal="0") Off

mixin analogPin(pinId)
  li.list-group-item
    .input-group
      input.form-control.analog-input(type='text', placeholder="#{pinId} value", data-pinId="#{pinId}")
      span.input-group-btn
        button.btn.btn-default.analog-pin(type='submit') OK
