extends layout

block head
  script(src='/page-core.js')

block content
  .container.main.page-core
    .row
      .col-sm-12
        ul.nav.nav-tabs
          li.active
            a(href='/core/#{core.coreId}/') Core Details
          li
            a(href="/core/#{core.coreId}/watch-inputs") Watch Inputs
          li
            a(href="/core/#{core.coreId}/control-outputs") Control Outputs

    .row
      .col-sm-6.webhooks
        h3 Webhooks

        .panel.panel-default.publish-hook
          .panel-heading
            h4.panel-title Publish <em><strong>hook</strong></em> to Zapier
          .panel-body
            ul.list-group#publish-hooks-list
              each val, key in core.webhooks
                li.list-group-item #{key} - #{val}
            .form-group
              label Select A Pin
              select.form-control#publish-hook-pin
                option(val='D0') D0
                option(val='D1') D1
                option(val='D2') D2
                option(val='D3') D3
                option(val='D4') D4
                option(val='D5') D5
                option(val='D6') D6
                option(val='D7') D7
                option(val='A0') A0
                option(val='A1') A1
                option(val='A2') A2
                option(val='A3') A3
                option(val='A4') A4
                option(val='A5') A5
                option(val='A6') A6
                option(val='A7') A7
            .input-group
              input.form-control#publish-hook-input(type='text', placeholder='Zapier Hook URL')
              span.input-group-btn
                button.btn.btn-default#publish-hook-button(type='submit') OK
            p.help-block Find this within the Zapier interface when creating a new Zap. If your Zap is in the form of "if something happens on my board, then do X", this is the hook for you. Should look like - https://zapier.com/hooks/catch/atdvc/

        .panel.panel-default.accept-hook
          .panel-heading
            h4.panel-title Accept <em><strong>hook</strong></em> from Zapier
          .panel-body
            #accept-hook-notifier
            .form-group
              label Select A Pin
              select.form-control#accept-hook-pin
                option(val='D0') D0
                option(val='D1') D1
                option(val='D2') D2
                option(val='D3') D3
                option(val='D4') D4
                option(val='D5') D5
                option(val='D6') D6
                option(val='D7') D7
                option(val='A0') A0
                option(val='A1') A1
                option(val='A2') A2
                option(val='A3') A3
                option(val='A4') A4
                option(val='A5') A5
                option(val='A6') A6
                option(val='A7') A7
            .input-group
              input.form-control#accept-hook-input(type='text', placeholder='Input Value (eg. 0, 1, 124)')
              span.input-group-btn
                button.btn.btn-default#accept-hook-button(type='submit') OK
            p.help-block When creating a Zap in the form of "when something happens on the internet, do something on my board", use this form to generate a hook.

        h3 Core Details
        .panel.panel-default
          ul.list-group
            li.list-group-item Color: <em>#{core.color.toUpperCase()}</em>
            li.list-group-item Id: <em>#{core.coreId}</em>
            li.list-group-item Access Token: <em>#{core.accessToken}</em>

      .col-sm-6
        h3 Define Inputs and Outputs
        .panel.panel-default
          table.table
            thead
              tr
                th Pin Name
                th Make Input
                th Make Output
                th Make Unused
            tbody#pin-definitions
              +tableRow("D0")
              +tableRow("D1")
              +tableRow("D2")
              +tableRow("D3")
              +tableRow("D4")
              +tableRow("D5")
              +tableRow("D6")
              +tableRow("D7")
              +tableRow("A0")
              +tableRow("A1")
              +tableRow("A2")
              +tableRow("A3")
              +tableRow("A4")
              +tableRow("A5")
              +tableRow("A6")
              +tableRow("A7")
          .panel-footer
            a.btn.btn-default#flash-core(href='#') Save and Bootload Core


mixin tableRow(name)
  tr(data-pinid="#{name}")
    td #{name}
    td
      input(type='radio', id="#{name}-radio-input", name="#{name}-radio", value="input")
    td
      input(type='radio', id="#{name}-radio-output", name="#{name}-radio", value="output")
    td
      input(type='radio', id="#{name}-radio-null", name="#{name}-radio", value="unused")
