extends layout

block head
  script(src='/page-core.js')

block content
  .container.main.page-core
    include ./_nav

    .row
      .col-sm-12
        p Each pin on your spark core can act as either an <em>input</em> (button, motion sensor, temperature probe, etc.), <em>output</em> (light, motor, solenoid, etc.), servo, or remain unused. Use this page to define how each pin on your board behaves. Note that a servo can only be used on a few special pins.
        p <strong>D</strong> stands for digital, <strong>A</strong> stands for analog. So <strong>D0</strong> is digital pin number 0.

    .row
      .col-sm-12
        h3 Define Inputs and Outputs
        .panel.panel-default
          table.table
            thead
              tr
                th Pin Name
                th Make Input
                th Make Output
                th Make Servo
                th Make Unused
            tbody#pin-definitions
              +emptyTableRow()
              +tableRow("D0", true)
              +tableRow("D1", true)
              +tableRow("D2", false)
              +tableRow("D3", false)
              +tableRow("D4", false)
              +tableRow("D5", false)
              +tableRow("D6", false)
              +tableRow("D7", false)
              +emptyTableRow()
              +tableRow("A0", true)
              +tableRow("A1", true)
              +tableRow("A2", false)
              +tableRow("A3", false)
              +tableRow("A4", true)
              +tableRow("A5", true)
              +tableRow("A6", true)
              +tableRow("A7", true)
              +emptyTableRow()
              tr
                td(colspan='4')
                  h4 Analog Input Threshold
                  p The change in current required to trigger an event. Change this value if you need more sensitivity from your analog inputs. <em>15 is a good place to start</em>.
                td(colspan='1')
                  input.form-control#analog-threshold(type="number", value="#{core.analogThreshold}")
          .panel-footer
            a.reset#reset(href='#') Reset All Pins
            a.btn.btn-default#flash-core(href='#') Save and Bootload Core


mixin tableRow(name, includeServo)
  tr(data-pinid="#{name}")
    td #{name}
    td
      input(type='radio', id="#{name}-radio-input", name="#{name}-radio", value="input")
    td
      input(type='radio', id="#{name}-radio-output", name="#{name}-radio", value="output")
    - if(includeServo)
      td
        input(type='radio', id="#{name}-radio-servo", name="#{name}-servo", value="servo")
    - else
      td -
    td
      input(type='radio', id="#{name}-radio-null", name="#{name}-radio", value="unused")

mixin emptyTableRow
  tr.active
    td
    td
    td
    td
    td
